# IDE and OS files
.idea
.DS_Store

# Generated documentation
doxygen

# Composer lock, code, and vendors
composer.phar
composer.lock
vendor

# Custom configuration
phpunit.xml

# Continuous integration artefacts
ocular.phar
coverage/
coverage.*
.phpunit.result.cache
php.log
