<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="true"
  backupStaticAttributes="false"
  cacheTokens="true"
  colors="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  mapTestClassNameToCoveredClassName="false"
  printerClass="PHPUnit_TextUI_ResultPrinter"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
  verbose="true">

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory>Grafizzi/</directory>
      </whitelist>
    </filter>

  <testsuites>
    <testsuite name="Base Test Suite">
      <directory>Grafizzi/Graph/Tests</directory>
      </testsuite>
    </testsuites>
  </phpunit>

